body {
    background-color: #a5f5f1;
    text-align: center;
}

.navbar {
    background-color: #333333;
    
}

a {
    color: #f1f9f9;
    text-align: center;
    
}

a:hover {
    color: #db4f9e;
  }

#boini{
    font-size: 30;
    
}
#raju{
    background-color: rgb(87, 116, 131);
}
#rak{
    font-weight: 2000;
}

#mano{
    background-color: #db4f9e;
}